/* ---------- Universal Styling ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- Main Container ---------- */

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}

.blur-bg {
    width: 100%;
    height: 100vh;
    z-index: -10;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/virus-bg3.jpg);
    filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

/* ---------- Heading ---------- */

.heading {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 0;
    margin-top: 40px;
}

/* ---------- Drop Down Menu ---------- */

.drop-down {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    z-index: 10;
}

.virus_select {
    width: 330px;
    height: 65px;
    padding-left: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: #fff;
    transition: 1s;
}

.options {
    color: #000;
}

/* ---------- Virus Container ---------- */

.virus-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Virus 1 Model ---------- */

.virus1 iframe {
    width: 340px;
    height: 340px;
    border-radius: 50%;
}

/* ---------- Virus 2 Model ---------- */

.virus2 iframe {
    width: 340px;
    height: 340px;
    border-radius: 50%;
}

/* ---------- Covid-19 ---------- */

.covid-19 {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    color: #fff;
    height: 80vh;
    position: relative;
    margin-right: 30px;
}

/* ---------- Nipah Virus ---------- */

.nipah {
    display: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    flex-direction: column;
    color: #fff;
    height: 80vh;
    padding-top: 30px;
    position: relative;
    margin-left: 30px;
}

.nipah h2 {
    margin-top: 35px;
}

/* ---------- Info-Icons ---------- */

.info-icons {
    position: absolute;
    z-index: 1000;
    transition: 1s;
    font-size: 40px;
    display: none;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    backdrop-filter: blur(5px);
    padding: 20px;
    font-size: 20px;
    width: 400px;
    height: 400px;
    transition: 1.5s;
    animation: info-ani 1s linear 1;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}

@keyframes info-ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.info1 {
    top: 90px;
    left: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info1-hover:hover+.info1 {
    display: flex;
}

.info2 {
    top: 90px;
    left: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info2-hover:hover+.info2 {
    display: flex;
}

.info3 {
    bottom: 60px;
    right: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg3.jpg);
}

.info3-hover:hover+.info3 {
    display: flex;
}

.info4 {
    bottom: 60px;
    right: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg-vacc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info4-hover:hover+.info4 {
    display: flex;
}

.info5 {
    top: 90px;
    left: -450px;
    height: 430px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info5-hover:hover+.info5 {
    display: flex;
}

.info6 {
    top: 90px;
    left: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info6-hover:hover+.info6 {
    display: flex;
}

.info7 {
    bottom: 60px;
    right: -450px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/info-bg6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info7-hover:hover+.info7 {
    display: flex;
}

.info8 {
    top: 60px;
    right: -450px;
    height: 430px;
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/virus-bg-his.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info8-hover:hover+.info8 {
    display: flex;
}

/* ---------- Return Btn ---------- */

.return-btn {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 20px;
    background: #ff0048;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    scale: 1;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #ff0048, 0px 0px 15px #ff0048;
}